@media (min-width: 600px){
  html{
    font-size: 25px;
  }
  .container{
    margin: 0 auto;
    padding: 50px 25px;
    max-width: 550px;
  }

  .themeselector label {
    cursor: pointer;
  }
  .themeselector input {
    cursor: pointer;
  }

  .calc-keyboard {
    grid-gap: 15px;
  }

  .btn {
    cursor: pointer;
  }
}